html { 
    font-size: 16px;
}

body {
    background: linear-gradient(90deg, rgba(26,156,200,1) 0%, rgba(37,76,187,1) 100%);
    background: rgb(30,30,30);
    margin: 0;
    color: rgb(39, 194, 39);
}

$button-color: rgb(117, 20, 126);
$button-text-color: rgb(224, 219, 219);

@mixin flexVerticalCenter {
    display: flex;
    align-items: center;
}

#upper-bar { 
    background-color: rgb(7, 19, 70);
    width: 100%;
    height: 40px;
}

@keyframes upper-bar-movement {
    0% {background: rgb(36, 7, 90)} 
    20% {background: rgb(30, 35, 104)}
    50% {background: rgb(94, 37, 133)}
    75% {background: rgb(86, 17, 117)}
    50% {background: rgb(18, 6, 71)}
    100% {background: rgb(36, 7, 90)}
} 

#upper-bar:hover { 
    animation-name: upper-bar-movement;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}  

main { 
    width: 80%;
    max-width: 850px;
    margin: auto;
}

.chooses {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.chooses > div > .btn-choose {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: $button-text-color;
    background: $button-color;
    border: 0.5px dashed rgb(255, 255, 255);
    border-radius: 4px;
}


.chooses:nth-child(n) { 
    @include flexVerticalCenter();
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    margin: auto;
}

.sec {
    transform: translateX(-23px);
}

input.btn-choose { 
    color: green;
}

span { 
    @include flexVerticalCenter();
    justify-content: center;
    opacity: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 70%;
    margin: auto;
    background: black;
    color: green;
    padding: 10px;
    text-align: center;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

.flex-container > img { 
    width: 20%;
    display: flex;
    align-items: center;
    margin: auto;
}

.players { 
    @include flexVerticalCenter();
    justify-content: center;
}

.players > h3 { 
    text-align: center;
    color: black;
}

.alien-results{ 
    font-size: 1.4rem;
    position: absolute;
    top: 85px;
    text-align: center;
    color: rgb(230, 230, 68);
}

.alien-results > img { 
    width: 200px;
    height: 220px;
}

.alien-results > h4 { 
    margin: 5px;
}

.alien-results > h5 { 
    font-size: 1.4rem;
    margin: 5px;
    color: #ffffff;
}

.human-results { 
    font-size: 1.4rem;
    position: absolute;
    top: 400px;
    text-align: center;
    color: rgb(230, 230, 68);
}

.human-results > img { 
    width: 200px;
    height: 200px;
} 

.human-results > h4 { 
    margin: 5px;
}

.human-results > h5 { 
    font-size: 1.4rem;
    margin: 5px;
    color: #ffffff
}

#background-aside {
    width: 220px;
    height: 100vh;
    position: absolute;
    right: 0px;
    bottom: 0px; 
    background: rgb(80, 78, 78);
    z-index: -1;
} 

.players { 
    transform: translateY(60px);
}

@media (max-width: 580px) { 
    html { 
        font-size: 13px;
    }

    body { 
        background-color: aqua;
    }
}
